test.py
__pycache__/
pod_time/__pycache__/
pod_time/of_cavity/log.*
pod_time/of_cavity/processor*
pod_time/of_cavity/postProcessing
pod_time/of_cavity/constant/polyMesh
pod_time/of_cavity/exported_data
pod_time/reconstruction_data
pod_time/mode_data
pod_time/of_cavity_reconstructed
pod_time/of_cavity_modes
pod_parametric/of_airfoil/log.*
pod_parametric/of_airfoil/processor*
pod_parametric/of_airfoil/postProcessing
pod_parametric/of_airfoil/constant/polyMesh
pod_parametric/of_airfoil/exported_data
pod_parametric/results
pod_parametric/prediction_data
pod_parametric/of_airfoil_podi
